<!DOCTYPE html>
<html lang="pt-br" xmlns:p="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>PW Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <h1>About</h1>
    <p>
        My name is Ebert, I'm 27 yo and this is my pw generator!
    </p>
    <a href="https://www.linkedin.com/in/ebert-rodrigues/">Linkedin</a>
    <br>
    <a href="{% url 'home' %}">Home</a>
</body>
</html>